<div class="fadeInDown">

  <div class="wrapp fadeIn first">



    <div class="header ">
      <div class="l">
        <h1 class="mainHeading">Admin Dashboard</h1>
      </div>
   

    </div>



  </div>
  <br>
  <br>
  <button [routerLink]="['/product']">Logout</button>
  <br>
  <br>
  <br>
  <br>
  <div class="fadeIn second">
   
    <app-order></app-order>
  </div>

  <br>
  <br>

  <br>

  <div class="fadeIn third">
   
    <app-product></app-product>
  </div>

  
  <br>
  <br>

  <br>
  <h1>Users</h1>
  <br>
  <div class="fadeIn third">
  <app-user></app-user>
  
  </div>



  </div>

