<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">  Add user </h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Edit user</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Delete user</h3>
    <form class="mat-dialog-content" #formControl= "ngForm">
        <div class="form">
           <mat-form-field>
               <input matInput placeholder="firstName" [(ngModel)] = "data.firstName" name="firstName" [disabled]= "flag == 3" required>
   
           </mat-form-field>     
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="lastName" [(ngModel)] = "data.lastName" name="lastName" [disabled]= "flag == 3" required>
            </mat-form-field>     
         </div>
         <div class="form">
            <mat-form-field>
                <input matInput placeholder="username" [(ngModel)] = "data.username" name="username" [disabled]= "flag == 3" required>
            </mat-form-field>     
         </div>

         <div class="form">
            <mat-form-field>
                <input matInput placeholder="password" [(ngModel)] = "data.password" name="password" [disabled]= "flag == 3" required>
            </mat-form-field>     
         </div>
 
        <div mat-dialog-actions>
            <button mat-button *ngIf="flag==1" type="submit" [mat-dialog-close]="1" (click)="addUser()" [disabled]="!formControl.valid">
              
               Add
            </button>
            <button mat-button *ngIf="flag==2" type="submit" [mat-dialog-close]="1" (click)="updateUser()" [disabled]="!formControl.valid">
                Update
            </button>
            <button mat-button *ngIf="flag==3" type="submit" [mat-dialog-close]="1" (click)="deleteUser()">
                Delete
            </button>
            <button mat-button (click)="cancel()">
                Cancel
            </button>
        </div>

    </form>

</div> 